<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmj.cloud.mapper.SysOauthClientMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dmj.cloud.model.SysOauthClient">
                    <id column="client_id" property="clientId" />
                    <result column="client_secret" property="clientSecret" />
                    <result column="resources_ids" property="resourcesIds" />
                    <result column="scope" property="scope" />
                    <result column="authorized_grant_type" property="authorizedGrantType" />
                    <result column="webserver_redirect_url" property="webserverRedirectUrl" />
                    <result column="authorities" property="authorities" />
                    <result column="access_token_validity" property="accessTokenValidity" />
                    <result column="refresh_token_validity" property="refreshTokenValidity" />
                    <result column="additional_information" property="additionalInformation" />
                    <result column="autoapprove" property="autoapprove" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        client_id, client_secret, resources_ids, scope, authorized_grant_type, webserver_redirect_url, authorities, access_token_validity, refresh_token_validity, additional_information, autoapprove
    </sql>

</mapper>
